@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color1: 189, 147, 249;
	--color2: 36, 146, 171;
	--color3: 148, 95, 252;
	--color4: 255, 121, 198;
	--color5: 92, 59, 135;
	--color-interactive: 140, 100, 255;
	--circle-size: 80%;
	--blending: lighten;
}

@keyframes moveInCircle {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes moveVertical {
	0% {
		transform: translateY(-50%);
	}

	50% {
		transform: translateY(50%);
	}

	100% {
		transform: translateY(-50%);
	}
}

@keyframes moveHorizontal {
	0% {
		transform: translateX(-50%) translateY(-10%);
	}

	50% {
		transform: translateX(50%) translateY(10%);
	}

	100% {
		transform: translateX(-50%) translateY(-10%);
	}
}

.gradient-bg {
	width: 100%;
	height: 100vh;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
  z-index: 0;
}

#svg1 {
	display: none;
}

.gradient-container {
	filter: url(#goo) blur(40px);
	width: 100%;
	height: 100%;
}

.circle-1 {
	position: absolute;
	background: radial-gradient(circle at center,
			rgb(var(--color1), 0.8) 0,
			rgb(var(--color1), 0) 30%) no-repeat;
	mix-blend-mode: var(--blending);

	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2);
	left: calc(50% - var(--circle-size) / 2);
	opacity: 1;

	transform-origin: center center;
	animation: moveVertical 30s ease infinite;
}

.circle-2 {
	position: absolute;
	background: radial-gradient(circle at center,
			rgba(var(--color2), 0.8) 0,
			rgba(var(--color2), 0) 40%) no-repeat;
	mix-blend-mode: var(--blending);

	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2 + 170px);
	left: calc(50% - var(--circle-size) / 2 - 160px);
	opacity: 1;

	transform-origin: calc(50% - 300px);
	animation: moveInCircle 35s reverse infinite;
}

.circle-3 {
	position: absolute;
	background: radial-gradient(circle at center,
			rgba(var(--color3), 0.8) 0,
			rgba(var(--color3), 0) 35%) no-repeat;
	mix-blend-mode: var(--blending);

	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2 - 50px);
	left: calc(50% - var(--circle-size) / 2 + 200px);
	opacity: 1;

	transform-origin: calc(50% + 300px);
	animation: moveInCircle 50s linear infinite;
}

.circle-4 {
	position: absolute;
	background: radial-gradient(circle at center,
			rgba(var(--color4), 0.8) 0,
			rgba(var(--color4), 0) 40%) no-repeat;
	mix-blend-mode: var(--blending);

	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2 - 200px);
	left: calc(50% - var(--circle-size) / 2 + 300px);
	opacity: 1;

	transform-origin: calc(50% + 300px);
	animation: moveHorizontal 35s ease infinite;
}

.circle-5 {
	position: absolute;
	background: radial-gradient(circle at center,
			rgba(var(--color5), 0.8) 0,
			rgba(var(--color5), 0) 40%) no-repeat;
	mix-blend-mode: var(--blending);

	width: var(--circle-size);
	height: var(--circle-size);
	top: calc(50% - var(--circle-size) / 2);
	left: calc(50% - var(--circle-size) / 2);
	opacity: 1;

	transform-origin: calc(50% + 300px);
	animation: moveInCircle 35s ease infinite;
}

.interactive {
	position: absolute;
	background: radial-gradient(circle at center,
			rgba(var(--color-interactive), 0.8) 0,
			rgba(var(--color-interactive), 0) 40%) no-repeat;
	mix-blend-mode: var(--blending);

	width: 100%;
	height: 100%;
	top: -50%;
	left: -50%;

	opacity: 0.7;
}

@layer base {
  :root {
		--radius: 0.5rem;
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
  .dark {
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}